@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Predefinido do NEXT.js */

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Poppins", cursive;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

/* Nosso CSS */

.colorfullWord {
  background: linear-gradient(to top right, #ffffff 0%, #0670b7 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.acendeapaga {
  transition: 0.2s;
}

@media screen and (max-width: 1300px) {
  .venha {
    margin-right: 0px !important;
  }
}

@media screen and (min-width: 1600px) {
  .conheca {
    padding-top: 460px;
  }
}

.wppSem {
  display: none;
}

@media screen and (max-width: 1500px) {
  .wppCom {
    display: none;
  }

  .wppSem {
    display: block;
    height: 100vh;
    width: 50%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1000px) {
  .wppCom {
    display: none;
  }

  .wppSem {
    display: none;
  }
}

/*=======Cadastro e Login=======*/
/*DISCLAIMER: as classes e IDs com log no final se referem ao Login*/

.bodyequivalent {
  overflow: hidden;
  background-size: 94%;
  background-image: url("../assets/Cadastro.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  height: 100vh;
  width: 100vw;
}

.bodyequivalentlog {
  overflow: hidden;
  background-size: 94%;
  background-image: url("../assets/Cadastro.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  height: 100vh;
  width: 100vw;
}

.bodyequivalentlog div {
  display: inline-block;
}

.bodyequivalent div {
  display: inline-block;
}

#elementosesquerda {
  position: relative;
  padding-top: 4.5%;
  width: 100%;
  padding-left: 3%;
}
#elementosesquerdalog {
  position: relative;
  padding-top: 4.5%;
  width: 100%;
  padding-left: 3%;
}
#bemvindo {
  margin-top: 4%;
  margin-left: 10%;
}

.bemvindo {
  font-weight: bold;
  font-size: 200%;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 2%;
  padding-left: 4%;
}

.inputs h1 {
  margin-top: 1%;
  padding-left: 8%;
}

.inputs input {
  margin-top: 0.1%;
  width: 30%;
  height: 10%;
  left: 8%;
  border: 2px solid #dbdfe4;
  border-radius: 2%;
  position: relative;
  padding: 0.8%;
  font-size: 95%;
  margin-bottom: 0.5%;
  transition: 400ms ease; 
}

.inputs input:hover {
  border-color: #73C0EC
}

.inputs input:focus {
  border-color: #73C0EC;
  outline: transparent;
}

#password {
  margin-bottom: 6%;
  display: flex;
  flex-direction: row;
}

#login {
  margin-top: 1.5%;
  padding-left: 14%;
  display: flex;
}

#loginlog {
  margin-top: 1.5%;
  padding-left: 13%;
  display: flex;
}

.loginlink {
  padding-left: 0.5%;
  font-weight: bold;
  color: #006CB5;
}

#botao {
  font-size: 120%;
  padding: 0.5%;
  border-radius: 6%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 13%;
}

#botao:hover {
  background-color: #006CB5;
  transition: 400ms ease;
}

#botaolog {
  font-size: 120%;
  padding: 0.5%;
  border-radius: 6%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 14.5%;
}

#botaolog:hover {
  background-color: #006CB5;
  transition: 400ms ease;
}

#botao h1 {
  margin-left: 20%;
}

#botaolog h1 {
  margin-left: 20%;
}

@media screen and (max-width: 1400px) {
  #elementosesquerda {
    padding-left: 1%;
    padding-top: 0;
    padding-bottom: 3%;
  }
  #elementosesquerdalog {
    position: relative;
    padding-top: 4.5%;
    width: 100%;
    padding-left: 3%;
  }

  #botao {
    margin-left: 13.5%;
  }
  #botaolog {
    margin-left: 16%;
  }
  #login {
    padding-left: 12%;
  }

  .inputs input {
    width: 35%;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1000px) {
  #login {
    padding-left: 12%;
  }

  #loginlog {
    margin-top: 1.5%;
    padding-left: 11%;
    display: flex;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1600px) {
  .bodyequivalent {
    padding-bottom: 3%;
    background-position: 100% -20%;
  }
  .bodyequivalentlog {
    padding-bottom: 3%;
    background-position: 100% -20%;
  }

  #login {
    padding-left: 13.5%;
  }

  #loginlog {
    margin-top: 1.5%;
    padding-left: 13%;
    display: flex;
  }
}

@media screen and (max-height: 1000px) and (max-width: 1600px) {
  .bodyequivalent {
    background-position: 30% 40%;
    background-size: 120%;
    padding-bottom: 18%;
  }

  .bodyequivalentlog {
    background-position: 30% 50%;
    background-size: 120%;
    padding-bottom: 25%;
  }
}

@media screen and (max-height: 1100px) and (max-width: 2000px) {
  #elementosesquerda {
    padding-bottom: 6%;
  }
  #elementosesquerdalog {
    padding-bottom: 11%;
  }
}


/* Gustavo - admin */

.main {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  width: 60%;
  display: flex;
}

select {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 0.6em;
  border-radius: 8px;
  cursor: pointer;
  transition: 400ms ease;
}

select:hover {
  border-color: #006CB5;
}

select:focus {
  border-color: #006CB5;
}

.exConta {
  text-align: center;
  margin-top: 10px;
  color: #B50000;
  cursor: pointer;
}

.button-sair-aligner {
  width: 60vw;
}

.button-sair {
  width: 60%;
  background-color: #cc1515;
  color: white;
  padding: 0.4em;
  border-radius: 0.6em;
  position: absolute;
  bottom: 3em;
  transition: 400ms ease;
}

.button-sair:hover {
  background-color: #690a0a;
  transition: 400ms ease;
}

/* Gustavo - Perfil */


.main .head {
  height: 10vh;
  background-color: #35A4EE;
  position: relative;
  width: 100vw;
}

.user {
  margin-top: 4em;
  margin-bottom: 20em;
  width: 60%;
}

.user-infos {
  display: flex;
  margin-top: 10px;
}

.user-infos p {
  font-weight: 500;
}

.user-infos input {
  padding: 0.5em;
  width: 100%;
  border-radius: 8px;
  border-width: 0.1px;
  padding-left: 10px;
  transition: 400ms ease;
}

.user-infos input:hover {
  border-color: #006CB5;
}

.user-infos input:focus {
  outline: none;
  border-color: #006CB5;
}

#cpf-input:hover {
  border-color: #e5e7eb;
  cursor: not-allowed;
}

.input-label {
  width: 100%;
}

.button-salvar {
  width: fit-content;
  background-color: #006CB5;
  color: white;
  padding: 0.5em;
  border-radius: 0.6em;
  transition: 400ms ease;
}

.button-salvar:hover {
  background-color: #03578f;
}

.button-sair-conta {
  background-color: #cc1515;
  width: 5em;
  padding: 0.5em;
  transition: 400ms ease;
  border-radius: 0.6em;
  color: white;
}


.button-sair-conta:hover {
  background-color: #690a0a;
}

.buttons-aligner {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}