@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Predefinido do NEXT.js */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

/* Nosso CSS */

body {
  background-color: white;
}

.colorfullWord {
  background: linear-gradient(to top right, #FFFFFF 0%, #0670B7 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wpp {
  background-color: #FFFFFF;
  background-image: url("../public/retangulo.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 1300px)
{
  .masculo
   {
    display: none !important;
   }

   .venha {
    margin-right: 0px !important;
   }

}